.modal-img {
  width: 141px;
  img {
    height: 141px;
    object-fit: cover;
    object-position: 50% 0;
  }
}
#modal-expand {
  .material-symbols-outlined {
    transition: all 0.3s ease;
  }
  &.active {
    .material-symbols-outlined {
      transform: rotate(180deg);
      color: $success;
    }
  }
}
